zmq==0.0.0
Django==2.2.22
ntplib==0.3.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
python-gflags==3.1.2
leveldb==0.194
requests==2.19.0
urllib3==1.23
idna==2.7
chardet==3.0.4
certifi==2018.4.16
